[user]
	name = universato
	username = universato
	email = universato@gmail.com
	# リポジトリごとに user.name や user.email の設定を強制する
	# https://qiita.com/uasi/items/a340bb487ec07caac799
	useConfigOnly = true
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[alias]
	a = add
	aa = add .
	ac = add .
	# ac = add -c
	ad = add
	adc = add .
	adc = add -c
	addc = add .
	addi = add -i
	addp = add -p
	adi = add -i
	ai = add -i
	am = commit --amend
	ame = commit --amend
	amen = commit --amend
	amend = commit --amend
	ammend = commit --amend
	amnd = commit --amend
	b = branch
	bd = branch -d
	bl = blame
	br = branch
	bra = branch
	brad = branch -d
	brd = branch -d
	c = commit -m
	cam = commit --amend
	cap = cat-file -p
	cb = chekout -b
	cblo = cat-file blob
	ccm = cat-file commit
	ce = commit --alow-empty
	cf = config
	cfg = config --global
	chp = cherry-pick
	# chp = cat-file -p
	ci = commit
	ck = checkout
	cl = clone
	cm = commit
	cma = commit --amend
	cmae = commit --allow-empty
	cmaem = commit --allow-empty -m
	cmam = commit --amend
	cmamne = commit --amend --no-edit
	cman = commit --amend --no-edit
	cmane = commit --amend --no-edit
	cme = commit --alow-empty
	cmem = commit --alow-empty -m
	cmm = commit -m
	co = checkout
	cob = checkout -b
	com = checkout main
	coma = checkout main
	comai = checkout main
	comas = checkout master
	comi = checkout main
	comm = commit
	commi = commit
	commti = commit
	comn = checkout main
	coms = checkout ms
	cp = cherry-pick
	d = diff
	d1 = diff HEAD~
	d2 = diff HEAD~2
	d3 = diff HEAD~3
	d4 = diff HEAD~4
	d5 = diff HEAD~5
	dc = diff --cached
	di = diff
	dif = diff
	difc = diff --cached
	diffc = diff --cached
	diffm = diff main
	diffmain = diff main
	diffs = diff --staged
	diffstag = diff --staged
	diffstage = diff --staged
	diffstat = diff --stat
	diffstst = diff --stat --staged
	difm = diff main
	dim = diff main
	dm = diff main
	dma = diff main
	dmain = diff main
	dmast = diff master
	dmaste = diff master
	dmaster = diff master
	dmi = diff main
	dmn = diff main
	dms = diff master
	dn = diff --name-only
	dnm = diff --name-only main
	dno = diff --name-only
	dnom = diff --name-only main
	ds = diff --staged
	ds = diff --staged
	dsg = diff --staged
	dst = diff --stat
	dsta = diff --staged
	dstage = diff --staged
	dstaged = diff --staged
	dstat = diff --stat
	dstst = diff --stat --staged
	email = config user.email
	f = fetch
	fe = fetch
	fech = fetch
	fep = fetch --prune
	fepru = fetch --prune
	fet = fetch
	fetch = fetch
	force = push --force-with-lease
	fp = push -f
	fpush = push --force-with-lease
	fwl = push --force-with-lease
	g = log --graph
	go = log --graph --oneline
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	in = add
	ind = add
	index = add
	l = log
	lname = config user.name
	lg = log --graph
	lgo = log --graph --oneline
	lg1 = log --graph --oneline
	lo = log
	lp = log -p
	localname = config user.name
	logs = log --stat
	logst = log --stat
	logstat = log --stat
	ls = log --stat
	l1 = log --oneline
	l1g = log --graph --oneline
	m = merge
	me = merge
	mer = merge
	mg = merge
	mr = merge
	n = checout -b
	# name = config user.name
	name = diff --name-only
	nameonly = diff --name-only
	name-only = diff --name-only
	new = checout -b
	no = diff --name-only
	nt = tag -n
	ntag = tag -n
	ol = log --oneline
	ol1 = log --oneline -1
	oneline = log --oneline
	pfom = push -f origin main
	ph = push heroku
	phm = push heroku main
	phms = push heroku master
	pl = pull
	plo = pull origin
	plom = pull origin main
	plori = pull origin
	plorim = pull origin main
	plorimain = pull origin main
	pll = pull
	poh = pull origin HEAD
	pom = pull origin main
	ps = push
	psf = push -f
	psfwl = push --force-with-lease
	psfwlo = push --force-with-lease origin
	psfo = push -f origin
	psfom = push -f origin main
	psh = push
	psho = push origin
	psho = push origin main
	pul = pull
	pullo = pull origin
	pullom = pull origin main
	pullorim = pull origin main
	psoh = push origin HEAD
	pus = push
	pusf = push -f
	pushf = push -f
	pushfo = push -f origin
	pushfom = push -f origin main
	pushfori = push -f origin
	ra = remote add
	rao = remote add origin
	re = rebase
	rei = rebase -i
	reb = rebase
	reba = rebase
	rebai = rebase -i
	rebi = rebase -i
	reh = reset --hard
	remo = remote
	remot = remote
	res = reset --soft
	reseth = reset --hard
	resethd = reset --hard
	resethard = reset --hard
	resetm = reset --mixed
	resetmix = reset --mixed
	resetmixed = reset --mixed
	resets = reset --soft
	resetsoft = reset --soft
	rh = reset --hard
	ri = rebase -i
	rm = rm
	rmt = remote
	rp = remote prune
	rpo = remote prune origin
	rs = reset --soft
	s = status
	sc = switch -c
	sd = diff --stat
	sh = show
	sm = switch main
	sp = stash pop
	ss = status -s
	st = status
	sts = status -s
	sta = status
	stat = status
	statd = diff --stat
	statu = status
	sw = switch
	swc = switch -c
	swm = switch main
	swi = switch
	swich = switch # for typo
	swim = switch main
	swima = switch main
	swimai = switch main
	swimain = switch main
	swimi = switch main
	swimin = switch main
	swit = switch
	switch = switch
	t = tag
	tn = tag -n
	tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09by"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'
	un = restore --staged
	uns = restore --staged
	unst = restore --staged
	unstage = restore --staged
	us = restore --staged
	username = config user.name
	# 1l = log --oneline # bad config
[url "https://"]
	insteadOf = git://
